<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.DAO.myPageDAO">

<!-- 하차하기 -->
<update id="updateGetOff" parameterType="int">
	UPDATE getoff_info SET flag=0 WHERE id=#{id}
</update>

<!-- 좌석 수정 -->
<update id="updateSeatInfo" parameterType="map">
	UPDATE getoff_info SET seatNum=#{seatNum} WHERE id=#{id}
</update>

</mapper>
